<div class="container-fluid">

  <mat-dialog-content class="mat-typography">
      <mat-icon class="cancelIcon" mat-dialog-close>close</mat-icon>
      <b>{{'Login'|translate}}</b><br>
      <form (ngSubmit)="emailFormControl.valid" name="emailFormControl" [formGroup]="emailFormControl" class="novalidate">
          <div class="mb-2 mt-2">
            <mat-form-field>
              <input type="text"  matInput formControlName="username"
                  placeholder="{{'Username'|translate}}" required >
                  <mat-error *ngIf="emailFormControl.controls['username']['errors']?.['required'] && emailFormControl.controls['username'].touched">
                      {{'User_Name_required'|translate}}
                    </mat-error>                      
              <mat-error
              *ngIf="emailFormControl.controls['username']['errors']?.['pattern']  && emailFormControl.controls['username'].touched">{{'User_Name_Val'|translate}}
            </mat-error>
        </mat-form-field>

            </div>
          <div class="mb-2 mt-2">
            <mat-form-field>
                <input  type="password"   matInput formControlName="password"  placeholder="{{'Password_Val'|translate}}"required>
                <mat-error *ngIf="emailFormControl.controls['password']['errors']?.['required'] && emailFormControl.controls['password'].touched">
                    {{'Password_required'|translate}}
                </mat-error>  
                <mat-error
                 *ngIf="emailFormControl.controls['password']['errors']?.['pattern'] && emailFormControl.controls['password'].touched">{{'Password_Confirm_Val'|translate}}</mat-error>
            </mat-form-field>
             
          </div>
      </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button   mat-raised-button (click)="onClick()" >{{'Login'|translate}}</button>
  </mat-dialog-actions>