.cancelIcon:hover {
    background-color: rgb(85, 26, 26);
    cursor: pointer;
  }
  .cancelIcon {
    position: absolute; 
    right: 15px;
    font-size: 25px;
    top: 10px;
  }

  .mat-mdc-form-field {
    --mat-mdc-form-field-floating-label-scale: 0.75;
    display: contents;
    flex-direction: column;
    min-width: 0;
    text-align: left;
  }