<!-- <h2 mat-dialog-title>Dialog Box</h2>
<mat-dialog-content class="mat-typography">

  <form class="example-form" (ngSubmit)="emailFormControl" [formGroup]="emailFormControl">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email"
             placeholder="Ex. pat@example.com">
      
      <mat-error *ngIf="emailFormControl.controls['email']['errors']?.['required']">
        Please enter a valid email address
      </mat-error>

    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="emails"
             placeholder="Ex. pat@example.com">
      
      <mat-error *ngIf="emailFormControl.controls['emails']['errors']?.['required']">
        Please enter a valid email addresssss
      </mat-error>

    </mat-form-field>
  </form>
  

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="onClick()"  cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->


<!-- <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="First">Content 1</mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>

<input class="form-control">
<br>
<div class="container">
  <h2>Form control: input</h2>
  <p>The form below contains two input elements; one of type text and one of type password:</p>
  <form>
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
  </form>
</div>


<div class="container">

  <label>Dropdown</label>
  <mat-select  name="food" class="form-cotrol">
    <mat-option >
     Drop Down Value
    </mat-option>
  </mat-select>
</div>

<button mat-raised-button (click)="showLoader()">Spinner</button>
 -->

<div class="container">
 <mat-select [(value)]="_translate.currentLang" (selectionChange)="dropdownchange($event)">
  <mat-select-trigger>
   {{_translate.currentLang|translate}}
  </mat-select-trigger>
  <mat-option  *ngFor="let lang of suppLang" [value]="lang">
  {{lang|translate}}
</mat-option>

 </mat-select>

 
</div>
<br>

<div class="container">
  <button mat-raised-button color="primary" (click)="openDialog()">Open Dialog</button>
</div>
